.layout-4-column {
    @include columns($width: 21%);
}

.layout-3-column {
    @include columns($width: 30%);
}

.layout-2-column {
    @include columns($width: 50%);
    @include media-mobile {
        justify-content: center;
    }
}

.column {
    display: flex;
    justify-content: space-around;
    @include media-mobile {
        flex-direction: column;
        justify-content: center;
    }
}
